{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "extension": [".ts"],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.spec.js"
  ],
  "exclude-after-remap": false
}